# At least one private key is required. For this demo, use Stellar testnet:
STELLAR_PRIVATE_KEY=

# Optional
PORT=4022
STELLAR_MAX_TRANSACTION_FEE_STROOPS=200000

# Optional: other network keys
# EVM_PRIVATE_KEY=
# SVM_PRIVATE_KEY=
